<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrapvend">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="ScrapVend Admin"

        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".ui.pricing.AddItem"></activity>
        <activity android:name=".ui.pricing.UpdateItem"></activity>
        <activity android:name=".ui.contact.DetailView"></activity>
        <activity android:name=".ui.pickupinfo.PickupInfoCompletedPickupView"></activity>
        <activity android:name=".ui.contact.ContactFragment"></activity>
        <activity android:name=".ui.pickupperson.AddPickupPerson"></activity>
        <activity android:name=".ui.pickupinfo.PickupinfoList"></activity>
        <activity android:name=".ui.pickupperson.PickuppersonFragment"></activity>
        <activity android:name=".ui.home.OnLeave"></activity>
        <activity android:name=".ui.home.Working"></activity>
        <activity android:name=".ui.home.Payment"></activity>
        <activity android:name=".ui.pickupperson.UpdatePickupPerson"></activity>
        <activity
            android:name=".MainActivity"
            android:label="ScrapVend Admin"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>