<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="ScrapVend"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".PickupPerson"
            android:label="@string/title_activity_pickup_person"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.login.MainActivity" />
        </activity>
        <activity android:name=".userUi.home.ItemListGirdView"></activity>
        <activity android:name=".userUi.home.RequestPickup"></activity>
        <activity android:name=".userUi.home.RequestPickupForm"></activity>
        <activity android:name="com.example.login.userUi.history.DetailedHistoryView"/>
        <activity android:name=".userUi.home.BookingStatus"></activity>
        <activity android:name=".userUi.bookingstatus.DetailedView"></activity>
        <activity
            android:name=".User"
            android:label="@string/title_activity_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.login.MainActivity" />
        </activity>
        <activity android:name=".login.registration_user" />
        <activity android:name=".login.otp_verification" />
        <activity android:name=".logout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pickupui.home.DetailedPickupInfo"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pickupui.home.ItemQuantity"
            android:parentActivityName=".pickupui.home.DetailedPickupInfo"/>
        <activity android:name=".pickupui.LeaveRequest.LeaveStatus"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pickupui.home.AmountVerification"
            android:parentActivityName=".pickupui.home.DetailedPickupInfo"/>
    </application>

</manifest>